.legend {
  max-height: 600px;
}


.instructions {
  font-weight: bolder;
  font-size: 20px;
  line-height: 15px;
  color: #ecfdea;
}

#text {
margin-top: -65px;
}

h6 {
  font-size: 15px;
  line-height: 20px;
}

h1 {
  padding-left: -5px;
}

.loss, .player {
  margin-top: 25px;
}

.win {
  margin-left: -3px;
}

.card-img-overlay {
  right: 20px;
  top: 113px;
}

.card-transparent {
  text-align: center;
}

.cave {
  top: 91px;
  left: 13px;
}



body {
  background: url("../images/sky.png");
}

#leftScroll, #rightScroll {
  width: 150%;
  min-height: 100%;
}

#leftScroll {
  margin-left: -28%; 
}

#rightScroll {
  margin-left: -25%;
}

.right {
  left: 10px;
}

.ocean {
  margin-top: 0;
  padding-top: 0;
}

footer {
  background: url(../images/waves.png) repeat-x;
}